:root {
  --main-color--: #9f6;
}
* {
  outline: none !important;
  border-radius: 0 !important;
}
@media (max-width: 768px) {
  .container {
    margin-top: 100px;
  }
}
body {
  font-family: "Rubik", sans-serif;
}
.title h2 {
  font-weight: 500;
}
.title h2::after {
  content: "";
  width: 23px;
  background-color: var(--main-color--);
  border-radius: 5px;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 5px;
}
.title h2::before {
  content: "";
  border-radius: 5px;
  width: 50px;
  background-color: var(--main-color--);
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 5px;
}
#bg-video {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  background-image: url(../images/tm-astro-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* start nav */
.bar {
  display: flex;
  justify-content: end;
  z-index: 1233435;
}
.span {
  display: block;
  position: absolute;
  right: 5%;
  top: 4%;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 5px !important;
}
.bar button {
  position: relative;
  padding: 15px;
  color: white;
  margin: 10px;
  width: 170px;
  font-size: 20px;
  outline: none;
  border-bottom: 1px solid white !important;
}
.bar button.active,
.bar button:hover,
.bar button:focus {
  color: var(--main-color--) !important;
  background-color: transparent !important;
  border-bottom: 1px solid var(--main-color--) !important;
}
.bar .circle {
  position: absolute;
  content: "";
  left: 50%;
  width: 17px;
  height: 17px;
  transform: translate(-50%, -50%);
  border-radius: 50% !important;
  background-color: white;
  top: 100%;
}
.bar button:hover .circle {
  background-color: var(--main-color--) !important;
}
.bar button.active > .circle {
  background-color: var(--main-color--) !important;
}
@media (max-width: 988px) {
  .bar {
    display: none;
    flex-direction: column;
    align-items: end;
    position: absolute;
    background: #364b60;
    right: 8%;
    top: 8%;
    padding: 10px;
  }
  .bar button {
    text-align: center;
    padding: 10px;
    font-size: 17px;
    width: 120px;
  }
}
@media (max-width: 768px) {
  .bar {
    right: 10%;
    top: 8%;
    padding: 5px;
  }
  .bar button {
    padding: 8px;
    font-size: 15px;
    width: 100px;
  }
  .bar .circle {
    width: 12px;
    height: 12px;
  }
  .portfolio .portfolio_head h3 {
    margin-bottom: -76px;
  }
}
@media (max-width: 575px) {
  .card {
    margin: auto;
    width: 350px;
  }
}
@media (max-width: 568px) {
  .contact button {
    width: 150px;
  }
  .card {
    margin: auto;
    width: 330px;
  }
}
/* end nav */
/* start home */
.home .main-title {
  background-color: #0000004d;
  padding: 30px 30px 25px;
  margin-bottom: 20px;
  color: white;
  border-radius: 6px !important;
}
.home .main-title span {
  color: var(--main-color--);
  font-family: "Pacifico", cursive !important;
  font-weight: bold;
}
.home img {
  width: 400px;
  border: 3px solid var(--main-color--);
  border-radius: 50% !important;
}
/* end home */
/* start about */
.about .title h4 span {
  color: var(--main-color--);
}
.about .person-info .info p {
  font-weight: 500;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid var(--bar-color);
}
.about .person-info .info span {
  font-weight: 400;
  margin-left: 5px;
  color: var(--main-color--);
  display: inline-block;
  transition: width 0.3s linear;
}
.about .skills .skills-items h5 {
  line-height: 30px;
  font-weight: 600;
  font-size: 16px;
  color: white;
}
.progress {
  overflow: visible !important;
}
.about .skills .skills-items .progress {
  background-color: #363131;
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .skills .skills-items .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--main-color--);
}
.about .skills .skills-items .skills-percent {
  position: absolute;
  right: 0;
  top: -20px;
  font-weight: 400;
  color: white;
}
/* end about */
/* start portfolio */
.card {
  background-color: #364b60;
  border: 1px solid transparent;
  box-shadow: 0px 0px 8px 0px white;
  border-radius: 5px !important;
  overflow: hidden;
  margin-bottom: 15px;
}
.card a {
  width: 100%;
}
.card-body p {
  color: white;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.card img {
  transition: 0.5s;
  height: 150px;
  width: 100%;
}
.card img:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
/* end portfolio */
/* start contact */
.contact .sub-title h3 {
  color: var(--main-color--);
  font-weight: 500;
}
.contact .icon {
  font-size: 40px;
  margin-bottom: 5px;
  color: var(--main-color--);
}
.contact .box h4 {
  color: white;
  font-size: 22px;
  letter-spacing: 1.5px;
}
.contact .box h5 {
  color: white;
  font-size: 15px;
  letter-spacing: 1.3px;
  margin-bottom: 25px;
}
.contact .sub-title p {
  font-size: 19px;
}
.contact textarea {
  width: 100%;
  height: 120px;
}
.contact input {
  width: 100%;
  margin-bottom: 15px;
}
.contact textarea,
.contact input {
  border: none;
  background-color: #0000004d;
  padding: 10px;
  border-radius: 8px !important;
}
.contact textarea:focus,
.contact input:focus {
  outline: none;
  color: white;
}
.contact button {
  background-color: var(--main-color--);
  color: #364b60;
  padding: 15px;
  display: block;
  outline: none;
  border: none;
  width: 200px;
  border-radius: 50px !important;
  margin-bottom: 20px;
  font-weight: 500;
  transition: 0.3s;
}
.contact button:hover {
  color: var(--main-color--);
  background-color: #364b60;
}
.contact .facebook,
.contact .linkedin,
.contact .github {
  color: white;
  background-color: #364b60;
  transition: 0.2s;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.contact .facebook:hover,
.contact .linkedin:hover,
.contact .github:hover {
  transform: scale(1.2);
  color: white;
  transition: 0.2s;
}
/* end contact */
